<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insertar título aquí</title>
</head>
<body>
	
	<section>

		<div class="container mt-5 p-5">
			<form action="/user/save-order" method="post" id="orders" novalidate>
				<div class="row">

					<div class="col-md-6">


						<div class="mb-3 row">
							<p class="text-center fs-4">Dirección de Facturación</p>
							<hr>
							<div class="col p-1">
								<label>Nombre</label> <input type="text" name="firstName" required
									class="form-control mt-1">
									
							</div>
							<div class="col p-1">
								<label>Apellido</label> <input type="text" name="lastName" required
									class="form-control mt-1">
							</div>
						</div>

						<div class="mb-3 row">
							<div class="col p-1">
								<label>Correo Electrónico</label> <input type="email" name="email" required
									class="form-control col">
							</div>
							<div class="col p-1">
								<label>Número de Móvil</label> <input type="text" name="mobileNo" required
									class="form-control col ms-2">
							</div>
						</div>

						<div class="mb-3 row">
							<div class="col p-1">
								<label>Dirección</label> <input type="text" name="address" required
									class="form-control col">
							</div>
							<div class="col p-1">
								<label>Ciudad</label> <input type="text" name="city" required
									class="form-control col ms-2">
							</div>
						</div>
						<div class="mb-3 row">
							<div class="col p-1">
								<label>Estado</label> <input type="text" name="state" required
									class="form-control col">
							</div>
							<div class="col p-1">
								<label>Código Postal</label> <input type="number" name="pincode" required
									class="form-control col ms-2">
							</div>
						</div>
						<!-- </form> -->

					</div>
					<div class="col-md-6">
						<p class="text-center fs-4">Tipo de Pago</p>
						<hr>
						<div class="card">
							<div class="card-body">
								<table class="table table-borderless">
									<tbody>
										<tr>
											<td>Precio total</td>
											<td>:</td>
											<td>$ [[${orderPrice}]]</td>
										</tr>
										<tr>
											<td>Costo de Envío</td>
											<td>:</td>
											<td>$ 250</td>
										</tr>

										<tr>
											<td>Impuesto</td>
											<td>:</td>
											<td>$ 100</td>
										</tr>

										<tr class="border-top">
											<td>Precio Total</td>
											<td>:</td>
											<td>$ [[${totalOrderPrice}]]</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div class="card shadow p-3 mb-5 mt-2 bg-body-tertiary rounded">

							<div class="card-body">
								<!-- <form action="/login" method="post"> -->
								<div class="mb-3">
									<label class="form-label">Seleccionar Tipo de Pago</label> <select required
										name="paymentType" class="form-control">
										<option value="">--seleccionar--</option>
										<option value="COD">Pago Contra Entrega</option>
										<option value="ONLINE">Pago en Línea</option>
									</select>

								</div>

								<button class="btn bg-primary text-white col-md-12">Realizar Pedido</button>

							</div>
						</div>
					</div>

				</div>
			</form>
		</div>

	</section>
</body>
</html>
